.about {
  background-color: var(--bgColor);
  padding: 4em;
  text-align: center;

  .aboutContainer {
    flex-direction: column;
    gap: 1.25em;
  }

  h2 {
    color: var(--white);
    font-size: 1.5rem;
  }

  p {
    color: var(--grey);
    font-size: 1.25rem;
    line-height: 1.5em;
  }
}
