.movieCard {
  display: flex;
  flex-direction: column;
  position: relative;

  .movieCard__star {
    position: absolute;
    top: 5px;
    right: 5px;
    svg {
      width: 50px;
      height: 50px;
    }
    p {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 1.125rem;
    }
  }

  .movieCard__img {
    height: 400px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 6px 6px 0 0;
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      -ms-border-radius: 6px 6px 0 0;
      -o-border-radius: 6px 6px 0 0;
    }
  }
  .movieCard__details {
    background-color: var(--white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    flex-grow: 1;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
  }
  .movieCard__details__name {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 600;
  }
  .movieCard__details__genres {
    display: flex;
    gap: 0.5em;
    font-size: 0.75rem;
    color: var(--white);
    margin-top: 0.25em;
    p {
      background-color: #5c53ea;
      padding: 7px 10px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
  }
  .movieCard__details__description {
    font-size: 0.9rem;
    line-height: 1.2em;
    margin-top: 1em;
  }
  .movieCard__details__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .movieCard__details__rating__left {
    display: flex;
    align-items: center;
    gap: 0.5em;
    p {
      font-size: 0.8rem;
    }
    svg {
      cursor: pointer;
    }
  }
  .movieCard__details__rating__right {
    display: flex;
    align-items: center;
    gap: 0.5em;
    .iconWrapper {
      background-color: var(--grey);
      cursor: pointer;
      padding: 8px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    svg {
      width: 17px;
      height: 17px;
    }
  }
}
